.svg-Arrow {
  background: url("svg/sprite.css-73fe8249.svg") 82.17821782178218%
    84.9912739965096% no-repeat;
}

.svg-Arrow-dims {
  width: 38px;
  height: 32px;
}

.svg-Clear {
  background: url("svg/sprite.css-73fe8249.svg") 28.91566265060241% 100%
    no-repeat;
}

.svg-Clear-dims {
  width: 200px;
  height: 200px;
}

.svg-Clouds {
  background: url("svg/sprite.css-73fe8249.svg") 0 0 no-repeat;
}

.svg-Clouds-dims {
  width: 249px;
  height: 200px;
}

.svg-Drizzle {
  background: url("svg/sprite.css-73fe8249.svg") 0 50% no-repeat;
}

.svg-Drizzle-dims {
  width: 249px;
  height: 205px;
}

.svg-Dust_-_Sand_-_Ash {
  background: url("svg/sprite.css-73fe8249.svg") 55.68942436412316% 100%
    no-repeat;
}

.svg-Dust_-_Sand_-_Ash-dims {
  width: 200px;
  height: 200px;
}

.svg-Logout {
  background: url("svg/sprite.css-73fe8249.svg") 85.04875406283857%
    83.8209982788296% no-repeat;
}

.svg-Logout-dims {
  width: 24px;
  height: 24px;
}

.svg-Mist_-_Smoke_-_Haze_-Fog {
  background: url("svg/sprite.css-73fe8249.svg") 100% 0 no-repeat;
}

.svg-Mist_-_Smoke_-_Haze_-Fog-dims {
  width: 200px;
  height: 200px;
}

.svg-Rain {
  background: url("svg/sprite.css-73fe8249.svg") 35.673352435530084% 0 no-repeat;
}

.svg-Rain-dims {
  width: 249px;
  height: 204px;
}

.svg-Snow {
  background: url("svg/sprite.css-73fe8249.svg") 71.34670487106017% 0 no-repeat;
}

.svg-Snow-dims {
  width: 249px;
  height: 209px;
}

.svg-Squall {
  background: url("svg/sprite.css-73fe8249.svg") 100% 49.382716049382715%
    no-repeat;
}

.svg-Squall-dims {
  width: 200px;
  height: 200px;
}

.svg-Thunderstorm {
  background: url("svg/sprite.css-73fe8249.svg") 35.622317596566525%
    50.122850122850124% no-repeat;
}

.svg-Thunderstorm-dims {
  width: 248px;
  height: 198px;
}

.svg-Tornado {
  background: url("svg/sprite.css-73fe8249.svg") 0 100% no-repeat;
}

.svg-Tornado-dims {
  width: 216px;
  height: 200px;
}

.svg-Vector {
  background: url("svg/sprite.css-73fe8249.svg") 89.28188638799571%
    83.24786324786325% no-repeat;
}

.svg-Vector-dims {
  width: 14px;
  height: 20px;
}

.svg-Vector1 {
  background: url("svg/sprite.css-73fe8249.svg") 90.78242229367632%
    83.24786324786325% no-repeat;
}

.svg-Vector1-dims {
  width: 14px;
  height: 20px;
}

.svg-barometer_1 {
  background: url("svg/sprite.css-73fe8249.svg") 87.6489707475623%
    83.8209982788296% no-repeat;
}

.svg-barometer_1-dims {
  width: 24px;
  height: 24px;
}

.svg-coolicon {
  background: url("svg/sprite.css-73fe8249.svg") 91.98900747065101%
    82.96422487223168% no-repeat;
}

.svg-coolicon-dims {
  width: 10px;
  height: 18px;
}

.svg-Лого {
  background: url("svg/sprite.css-73fe8249.svg") 99.6% 77.22007722007721%
    no-repeat;
}

.svg-Лого-dims {
  width: 197px;
  height: 87px;
}
