.MainCity {
  width: 270px;
  height: 190px;
  border-radius: 6px;
  background-color: rgba(41, 46, 68, 0.5);
  cursor: pointer;
  text-align: center;
  padding-top: 23px;
  position: relative;
}

.Name {
  color: #fff;
  font-size: 14px;
  line-height: 15.5px;
  margin-bottom: 12px;
}

.Temp {
  color: #fff;
  font-size: 40px;
  line-height: 44.28px;
  font-weight: 500;
  margin-bottom: 2px;
}

.MainCity img {
  height: 78px;
  width: 78px;
}

.MainCitySpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .MainCity {
    width: 158px;
    /* height: 200px; */
  }
}
